<div [@slideInLeft]>
  <p-card>
    <div style="display: flex; gap: 15px; align-items: center">
      <div class="col-2">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="mr-2"
          size="xlarge"/>
      </div>
      <div class="col-10">
        <h2>{{service?.serviceName}}</h2>
        <p class="m-0" *ngIf="service?.duration">
          Trajanje: {{getDuration(service?.duration)}}
        </p>
        <p class="m-0">
          Cena: {{getPrice(service?.price)}} RSD
        </p>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div *ngIf="!user ||user?.userRole === UserRole.CUSTOMER">
        <div style="display: flex; justify-content: flex-end">
          <div class="col-5">
            <p-button iconPos="left" (onClick)="navigate('reservation')" icon="pi pi-calendar" severity="secondary" label="Rezerviši"
                      [raised]="true" [style]="{'border-radius': '0.25rem', 'width': '100%'}"/>
          </div>
        </div>
      </div>
      <div *ngIf="!user ||user?.userRole === UserRole.BARBER" class="col-12">
        <div style="display: flex; justify-content: flex-end">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="onEditService()" mat-menu-item>
              <mat-icon>update</mat-icon>
              <span>Izmeni</span>
            </button>
            <button (click)="confirmDelete()" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Obriši</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
