:host ::ng-deep .p-card {
  box-shadow: 0 0 8px gray;
  margin-bottom: 15px;
}

:host ::ng-deep .p-card-body{
  padding: 10px;
}

:host ::ng-deep .p-card-footer{
  padding-top: 0;
}

:host ::ng-deep .p-card-content{
  padding-bottom: 10px;
}

