.overlay{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.navbar{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.navbar > app-nav-bar{
  width: 100%;
}

.content{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 4rem;
}
