<div class="home-parent">
  <div class="image">
    <img src="assets/img/8ed53c_637a2be34f964ba396c258e051b55863~mv2-modified.webp">
  </div>
  <div class="info-section">
    <div class="flex flex-column">
      <h2>O nama</h2>
      <h1>Ko smo mi?</h1>
    </div>
    <div style="padding: 0 10% 0 10%" class="flex flex-column">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    <div class="flex flex-column gap-2">
      <span class="pi pi-phone" style="font-size: 1.5rem"></span>
      <h4>063/893-13-81</h4>
    </div>
    <div class="flex flex-column gap-2">
      <span class="pi pi-instagram" style="font-size: 1.5rem"></span>
      <h4>dusann14</h4>
    </div>
    <div style="margin-top: 20px" class="flex flex-column">
      <h2>Recenzije</h2>
      <h1>Drugi o nama</h1>
    </div>
    <div class="flex flex-column">
      <p-button severity="secondary" label="RECENZIJE" [raised]="true" [style]="{width: '100%', 'border-radius': '20px'}"/>
    </div>
  </div>
  <div class="map-section">
    <div class="flex flex-column">
      <h1>Pronađi nas već danas</h1>
    </div>
  </div>
</div>
