<nav class="nav container">
  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
      <li *ngIf="!user || user?.userRole === UserRole.CUSTOMER" class="nav__item">
        <a routerLinkActive="active-link" routerLink="home" class="nav__link active-link">
          <i class='pi pi-home'></i>
          <span class="nav__name">Početna</span>
        </a>
      </li>

      <li *ngIf="!user || user?.userRole === UserRole.CUSTOMER" class="nav__item">
        <a routerLinkActive="active-link" routerLink="services-barbers" class="nav__link">
          <i class='pi pi-cart-arrow-down'></i>
          <span class="nav__name">Usluge</span>
        </a>
      </li>

      <li *ngIf="!user || user?.userRole === UserRole.CUSTOMER" class="nav__item">
        <a routerLinkActive="active-link" routerLink="schedule" class="nav__link">
          <i class='pi pi-calendar'></i>
          <span class="nav__name">Termini</span>
        </a>
      </li>

      <li *ngIf="!user || user?.userRole === UserRole.CUSTOMER" class="nav__item">
        <a routerLinkActive="active-link" routerLink="settings" class="nav__link">
          <i class='pi pi-cog'></i>
          <span class="nav__name">Podešavanja</span>
        </a>
      </li>


        <!-- Nove stavke za korisnike sa ulogom BARBER -->
        <li *ngIf="user?.userRole === UserRole.BARBER" class="nav__item">
          <a routerLinkActive="active-link" (click)="navigateToMyService()" class="nav__link">
            <i class='pi pi-cart-arrow-down'></i>
            <span class="nav__name">Usluge</span>
          </a>
        </li>

  
       
        <li *ngIf="user?.userRole === UserRole.BARBER" class="nav__item">
          <a routerLinkActive="active-link" routerLink="settings" class="nav__link">
            <i class='pi pi-cog'></i>
            <span class="nav__name">Podešavanja</span>
          </a>
        </li> 
     

    </ul>
  </div>
</nav>
