<div>
  <h4 class="barber-service-header">{{barber?.name}} - {{service?.serviceName}}</h4>
  <div class="calendar">
    <p-calendar
      class="max-w-full"
      [inline]="true"
      selectionMode="single"
      (onSelect)="onCalendarChange($event)"
      [minDate]="nowDate"/>
  </div>

  <app-slot-list
    [slots]="slots"
    (selectEmitter)="selectSlot($event)"
  >
  </app-slot-list>

  <div *ngIf="selectedTimeSlot" class="save-button">
    <p-button label="Nastavi" (onClick)="scheduleAppointment()"
              [raised]="true" [style]="{'width': '100%', 'border-radius': '0.25rem'}"/>
  </div>
</div>
