.calendar{
  width: 100%;
}

::ng-deep p-calendar span {
  width: 100%
}

.book-section {
  padding: 20px 16px;
  margin-top: auto;
}

.save-button{
  padding: 10px;
  position: absolute;
  bottom: 1rem;
  width: 100%
}

.barber-service-header{
  margin: 20px;
  text-align: center;
}
