<p-card>
  <div style="display: flex; gap: 15px; align-items: center">
    <div class="col-2">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        styleClass="mr-2"
        size="xlarge"/>
    </div>
    <div class="col-10">
      <h2>{{service?.serviceName}}</h2>
      <p class="m-0">
        Trajanje: {{getDuration(service?.duration)}} minuta
      </p>
      <p class="m-0">
        Cena: {{getPrice(service?.price)}} RSD
      </p>
<!--      <p-button severity="secondary" label="Rezerviši" [raised]="true" [style]="{'border-radius': '20px', 'margin-top': '10px', 'width': '50%'}"/>-->
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div *ngIf="!user ||user?.userRole === UserRole.CUSTOMER">
    <div style="display: flex; justify-content: flex-end">
      <div class="col-5">
        <p-button iconPos="left" icon="pi pi-calendar" severity="secondary" label="Rezerviši"
                  [raised]="true" [style]="{'border-radius': '20px', 'width': '100%'}"/>
      </div>
    </div>
  </div>
    <div *ngIf="user?.userRole === UserRole.BARBER">
      <div style="display: flex; justify-content: flex-end; gap: 10px">
        <div *ngIf="service" class="col-2">
          <p-button iconPos="left" icon="pi pi-pen-to-square" severity="secondary"
          [raised]="true" [style]="{'border-radius': '20px', 'width': '100%','background-color': 'blue'}"
          (click)="onEditService(service)">
        </p-button>
        </div>
        <div>
          <p-button icon="pi pi-trash" class="p-button-danger" [style]="{'background-color': 'red','font-size': '1rem','border-radius': '20px'}" (click)="confirmationModalVisible = true"></p-button>
        </div>
      </div>
    </div>
      <app-confirmation-modal 
      *ngIf="confirmationModalVisible" 
      [label]="'Da li zelite da obrisete?'"
      (confirm)="deleteService(service)" 
      (cancel)="confirmationModalVisible = false">
    </app-confirmation-modal>


    <app-service-modal 
    [(visible)]="editModalVisible"  
    [isEditMode]="true" 
    [serviceData]="serviceToEdit"  
    (onSave)="updateService($event)"  
    (onCancel)="editModalVisible = false">
  </app-service-modal>
     
  </ng-template>
</p-card>
