<div class="overlay">
  <div class="section">
    <div class="registration-container" [formGroup]="registrationForm">
      <div class="left">
        <div class="input">
          <label for="name">Ime</label>
          <input [placeholder]="'Ime'" type="text" id="name" pInputText formControlName = 'firstName' />
        </div>

        <div class="input">
          <label for="email">Email adresa</label>
          <input [placeholder]="'youremail@example.com'" type="text" id="email" pInputText formControlName = 'email' />
        </div>
      </div>
      <div class="right">

        <div class="input">
          <label for="password">Lozinka</label>
          <input [placeholder]="'Lozinka'" id="password" type="password" pInputText formControlName = 'password' />
        </div>

        <div class="input">
          <label for="confirmPassword">Potvrdite lozinku</label>
          <input [placeholder]="'Potvrdite lozinku'" type="password" id="confirmPassword" pInputText formControlName = 'confirmPassword' />
        </div>
      </div>
      <div class="registration-button">
        <p-button severity="secondary" label="Registruj se" [raised]="true" [style]="{width: '100%', 'border-radius': '20px', 'margin-top': '20px'}" (onClick)="register()"/>
      </div>
    </div>
    <div>
      <p>Već imate nalog? <a routerLink="/auth/login">Prijavite se!</a></p>
    </div>
  </div>
</div>
