<div>
    <div class="image">
      <div style="padding: 10px; position: fixed; z-index: 1000; right: 1px; top: 1px;">
        <p-button icon="pi pi-plus"
                  severity="secondary"
                  label="Dodaj"
                  [raised]="true"
                  [style]="{'border-radius': '0.25rem'}"
                  (click)="onAddService()">
        </p-button>
      </div>
      <img src="../../../../../assets/sitemgr_1%20The%20Fold%20Southern%20Highlands%20Barbers.png">
      <div class="header">
        <h1>Usluge</h1>
      </div>
    </div>
    <div class="barber-list">
      <app-service-list
        [services]="services"
        (deleteEmitter)="deleteService($event)"
        (updateEmitter)="updateService($event)"
      >
      </app-service-list>
    </div>
</div>
