<div class="overlay">
  <div class="section">
    <div class="login-options-container">
      <div class="left">
        <div class="input">
          <p-button icon="pi pi-envelope" iconPos="left" severity="secondary" routerLink="/auth/login"
                    label="Nastavi sa email-om" [raised]="true" [style]="{width: '100%', 'border-radius': '20px', 'margin-top': '20px'}"/>
        </div>
        <div class="input">
          <p-button icon="pi pi-facebook" iconPos="left" severity="secondary"
                    label="Nastavi sa Facebook-om" [raised]="true" [style]="{width: '100%', 'border-radius': '20px', 'margin-top': '20px'}"/>
        </div>
        <div class="input">
          <p-button icon="pi pi-check" iconPos="left" severity="secondary"
                    label="Registruj se" [raised]="true" [style]="{width: '100%', 'border-radius': '20px', 'margin-top': '20px'}"/>
        </div>
        <div class="input">
          <p-button icon="pi pi-google" iconPos="left" severity="secondary"
                    label="Nastavi sa Google-om" [raised]="true" [style]="{width: '100%', 'border-radius': '20px', 'margin-top': '20px'}"/>
        </div>
      </div>
    </div>
  </div>
</div>
